{% extends 'EmpHeader.html' %}

{% block title %}Dashboard{% endblock title %}

{% block body %}
<h5 class="text-primary p-2 text-center" style="border-bottom: 3px solid orange;">Employee Dashboard</h5>
<div class="row text-center">
    <div class="col-sm-12 p-2">
        <div class="card shadow">
            <div class="card-body">
                <h5 class="text-success">
                    Welcome back to EPMS
                </h5>
                <h5 class="text-capitalize">
                    {{request.user.first_name}} {{request.middlename}} {{request.user.last_name}}
                </h5>
            </div>
        </div>
    </div>

</div>
{% endblock body %}